<app-card class="cursor-pointer text-center">
  <div class="line-clamp-1">{{ favorite().name }}</div>

  {{ temperature() | temperatureConverter : isCelsius() }}

  <img
    ngSrc="assets/weather/{{ favorite().WeatherIcon }}.svg"
    height="48"
    width="48"
    priority
    alt="{{ favorite().WeatherText }}"
  />

  <app-button
    [width]="buttonWidth.SMALL"
    [type]="buttonType.UPDATING"
    (click)="$event.stopPropagation(); refreshWeather()"
  >
    <section class="flex items-center gap-1">
      <mat-icon [class.animate-spin-fast]="isLoading$ | async">
        refresh
      </mat-icon> Refresh
    </section>
  </app-button>
</app-card>
