.location-autocomplete .mat-mdc-option.mdc-list-item--disabled .mdc-list-item__primary-text {
  opacity: 1 !important;
}

.mat-mdc-option:hover:not(.mdc-list-item--disabled) {
  color: var(--white-color);
}
