@use './material-overrides' as material;

.theme-dark {
  --main-color: #0d0e0f;
  --primary-color: #3059ae;
  --primary-secondary-color: #566b97;
  --error-color: #b91c1c;
  --white-color: #d6d4d8;
  --ground-color: #b3b3b3;
  --neutral-color: #555555;

  @include material.material-overrides;
}
