.mat-mdc-slide-toggle.mat-accent {
  --mat-slide-toggle-selected-icon-color: var(--white-color);
  --mat-slide-toggle-disabled-selected-icon-color: var(--white-color);
  --mat-slide-toggle-selected-focus-state-layer-color: var(--primary-color);
  --mat-slide-toggle-selected-handle-color: var(--primary-color);
  --mat-slide-toggle-selected-hover-state-layer-color: var(--primary-color);
  --mat-slide-toggle-selected-pressed-state-layer-color: var(--primary-color);
  --mat-slide-toggle-selected-focus-handle-color: var(--primary-color);
  --mat-slide-toggle-selected-hover-handle-color: var(--primary-color);
  --mat-slide-toggle-selected-pressed-handle-color: var(--primary-color);
  --mat-slide-toggle-selected-focus-track-color: var(--primary-color);
  --mat-slide-toggle-selected-hover-track-color: var(--primary-color);
  --mat-slide-toggle-selected-pressed-track-color: var(--primary-color);
  --mat-slide-toggle-selected-track-color: var(--primary-color);
}
