<section class="px-32 lg:px-44 py-9 relative">
  <app-location-search class="flex-center"></app-location-search>

  @if (homeFacadeService.isLoading$ | async) {
    <section class="flex-center mt-24">
      <mat-spinner></mat-spinner>
    </section>
  } @else if (location() && weather()) {
    <section class="flex-center-y-col md:flex-row gap-10 md:gap-0 justify-between mt-12">
      <section class="flex-center-y">
        <img
          ngSrc="assets/weather/{{ weather()?.WeatherIcon }}.svg"
          height="64"
          width="64"
          priority
          [matTooltip]="weather()?.WeatherText"
          alt="{{ weather()?.WeatherText ?? 'Weather icon' }}"
        />

        <div class="flex-center-y-col gap-4 ml-8">
          <div>{{ location()?.LocalizedName }}</div>

          {{ temperature() | temperatureConverter : isCelsius() }}
        </div>
      </section>

      <app-button
        [width]="buttonWidth.LG"
        [variant]="isFavorite() ? buttonVariant.ERROR : buttonVariant.PRIMARY"
        (click)="isFavorite() ? removeFromFavorites() : addToFavorites()"
      >
        <section class="flex-center-y gap-1">
          <mat-icon>
            {{ isFavorite() ? 'favorite' : 'favorite_border' }}
          </mat-icon>

          {{ isFavorite() ? 'Remove from favorite' : 'Add to favorite' }}
        </section>
      </app-button>
    </section>

    <section class="flex-center-x md:justify-start mt-12">
      <mat-slide-toggle [checked]="isLineChart()" (change)="toggleLineChart()">
        <span class="md:block hidden text-neutral">
          Click to change daily forecast representation!
        </span>
      </mat-slide-toggle>
    </section>

    <section class="flex-center-x md:mt-32 mt-20">
      @if (isLineChart()) {
        <app-line-chart
          labelX="Day"
          labelY="Night"
          [datasetX]="dayDataset()"
          [datasetY]="nightDataset()"
        ></app-line-chart>
      } @else {
        <app-forecasts [forecasts]="forecasts()"></app-forecasts>
      }
    </section>
  } @else {
    <section
      class="flex-center-y-col absolute left-1/2 sm:top-[236px] md:top-[284px] lg:top-[336px] top-[220px] translate-center"
    >
      <svg class="sm:h-72 sm:w-72 md:h-96 md:w-96 lg:h-[490px] lg:w-[490px] h-64 w-64 text-primary">
        <use href="assets/states/wrong.svg#wrong-state"></use>
      </svg>

      <div
        class="flex-center-y-col md:gap-2 gap-1 absolute text-center sm:top-[230px] md:top-[300px] lg:top-[405px] top-[200px]"
      >
        <div class="text-center sm:text-xl md:text-2xl 2xl:text-3xl text-lg font-medium">
          No available weather
        </div>

        <div class="sm:text-base md:text-lg 2xl:text-xl text-sm">
          Something went wrong, please try again or reload page
        </div>
      </div>
    </section>
  }
</section>
