@if (locationSearchFormService.formGroup) {
  <form [formGroup]="locationSearchFormService.formGroup">
    <mat-form-field
      class="2xl:w-[700px] xl:w-[600px] md:w-[500px] sm:w-[400px] w-72"
      appearance="fill"
    >
      <mat-label>Enter location</mat-label>

      <input
        matInput
        formControlName="searchInput"
        type="text"
        [matAutocomplete]="autoCmp.autocomplete"
        [errorStateMatcher]="matcher"
      />

      @if (searchInput()) {
        <button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          type="button"
          (click)="clearSearchInput()"
        >
          <mat-icon>close</mat-icon>
        </button>
      }

      @if (requiredError()) {
        <mat-error>Please enter a location.</mat-error>
      }

      @if (patternError()) {
        <mat-error>Please enter only English characters.</mat-error>
      }

      <app-location-search-dropdown #autoCmp></app-location-search-dropdown>
    </mat-form-field>
  </form>
}
