@if (locationSearchFormService.formGroup) {
  <form [formGroup]="locationSearchFormService.formGroup">
    <mat-form-field
      class="2xl:w-[700px] xl:w-[600px] md:w-[500px] sm:w-[400px] w-72"
      appearance="fill"
    >
      <mat-label>Enter location</mat-label>

      <input
        matInput
        formControlName="searchInput"
        type="text"
        [matAutocomplete]="auto"
        [errorStateMatcher]="matcher"
      />

      @if (searchInput()) {
        <button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          type="button"
          (click)="clearSearchInput()"
        >
          <mat-icon>close</mat-icon>
        </button>
      }

      @if (requiredError()) {
        <mat-error>Please enter a location.</mat-error>
      }

      @if (patternError()) {
        <mat-error>Please enter only English characters.</mat-error>
      }

      <mat-autocomplete #auto="matAutocomplete">
        @if(searchControl.valid) {
          @if (isLoading$ | async) {
            <mat-option disabled>
              <div class="absolute inset-0 flex justify-center items-center">
                <mat-spinner diameter="32"></mat-spinner>
              </div>
            </mat-option>
          } @else {
            @for (location of locations$ | async; track location.Key) {
              <mat-option
                [id]="location.Key"
                [value]="location.LocalizedName"
                (click)="onSelectionChange(location)"
              >
                <section class="flex justify-between gap-2">
                  <div>{{ location.LocalizedName }}</div>
                  <div>
                    ({{ location.Country?.LocalizedName }}, {{ location.AdministrativeArea?.LocalizedName }})
                  </div>
                </section>
              </mat-option>
            } @empty {
              @if (!(isLoading$ | async) && (lastSearchedQuery$ | async)) {
                <mat-option disabled>
                  <div class="absolute inset-0 flex justify-center items-center italic">
                    No results for
                    <span class="font-medium">&nbsp;{{ lastSearchedQuery$ | async }}</span>
                  </div>
                </mat-option>
              }
            }
          }
        }
      </mat-autocomplete>
    </mat-form-field>
  </form>
}
