<header class="border-b-2 border-neutral">
  <nav class="flex flex-col sm:flex-row justify-between items-center mx-0 sm:mx-12 py-4 gap-y-3">
    <div>My Weather</div>
    <section class="flex items-center gap-6">
      <app-theme-mode></app-theme-mode>
      <app-theme-temperature></app-theme-temperature>

      <section class="flex gap-4">
        <div>
          <a
            routerLink="/home"
            routerLinkActive="text-primary"
            [routerLinkActiveOptions]="{ exact: true }"
            class="hover:text-primary"
          >
            Home
          </a>
        </div>
        <div>
          <a
            routerLink="/favorites"
            routerLinkActive="text-primary"
            class="hover:text-primary"
          >
            Favorites
          </a>
        </div>
      </section>
    </section>
  </nav>
</header>
