<header class="border-b-2 border-neutral">
  <nav class="flex-center-y-col sm:flex-row justify-between mx-0 sm:mx-12 py-4 gap-y-3">
    <div>My Weather</div>
    <section class="flex-center-y gap-6">
      <app-theme-temperature></app-theme-temperature>

      <app-theme-mode></app-theme-mode>

      @if (favRla.isActive && detailedFavorites().length > 0) {
        <app-button
          [variant]="buttonVariant.UPDATING"
          [responsive]="'lg'"
          (click)="refreshAll()"
        >
          <section class="flex-center-y gap-1">
            <mat-icon [class.animate-spin-fast]="selectIsLoadingDetailedFavorites$ | async">
              refresh
            </mat-icon>
            <span class="lg:block hidden">Refresh All</span>
          </section>
        </app-button>

        <app-button
          [variant]="buttonVariant.ERROR"
          [responsive]="'lg'"
          (click)="removeAll()"
        >
          <section class="flex-center-y gap-1">
            <mat-icon>delete_forever</mat-icon>
            <span class="lg:block hidden">Remove All</span>
          </section>
        </app-button>
      }

      <section class="flex gap-4">
        <div>
          <a
            class="hover:text-primary"
            routerLink="/home"
            routerLinkActive="text-primary"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Home
          </a>
        </div>
        <div>
          <a
            class="hover:text-primary"
            routerLink="/favorites"
            routerLinkActive="text-primary"
            #favRla="routerLinkActive"
          >
            Favorites
          </a>
        </div>
      </section>
    </section>
  </nav>
</header>
