@if (isLoadingDetailedFavorites$ | async) {
  <section class="flex flex-1 justify-center items-center">
    <mat-spinner></mat-spinner>
  </section>
} @else {
  <section class="flex flex-1 flex-wrap justify-center gap-14 px-32 lg:px-44 py-24 h-full">
    @for (detailedFavorite of detailedFavorites$ | async; track detailedFavorite.id) {
      <app-favorite-cart
        [favorite]="detailedFavorite"
        (click)="selectFavorite(detailedFavorite)"
      ></app-favorite-cart>
    } @empty {
      <section class="flex items-center justify-center flex-col px-16 sm:px-32 lg:px-44">
        <svg class="sm:h-72 sm:w-72 md:h-96 md:w-96 lg:h-[490px] lg:w-[490px] h-64 w-64 text-primary">
          <use href="assets/states/empty.svg#empty-state"></use>
        </svg>

        <div class="text-center sm:text-base md:text-lg 2xl:text-xl text-sm">
          No favourite weather items. Go to
          <a routerLink="/home" class="text-error font-medium">Home page</a> to add weather.
        </div>
      </section>
    }
  </section>
}
