<mat-autocomplete #auto="matAutocomplete">
  @switch (dropdownState$ | async) {
    @case ('loading') {
      <mat-option disabled>
        <div class="absolute inset-0 flex justify-center items-center">
          <mat-spinner diameter="32"></mat-spinner>
        </div>
      </mat-option>
    }

    @case ('outcome') {
      @for (location of locations$ | async; track location.Key) {
        <mat-option
          [id]="location.Key"
          [value]="location.LocalizedName"
          (click)="onSelectionChange(location)"
        >
          <section class="flex justify-between gap-2">
            <div>{{ location.LocalizedName }}</div>
            <div>
              ({{ location.Country?.LocalizedName }}, {{ location.AdministrativeArea?.LocalizedName }})
            </div>
          </section>
        </mat-option>
      }
    }

    @case ('empty') {
      <mat-option disabled>
        <div class="absolute inset-0 flex justify-center items-center italic">
          No results for
          <span class="font-medium">&nbsp;{{ lastSearchedQuery$ | async }}</span>
        </div>
      </mat-option>
    }
  }
</mat-autocomplete>
