@use './styles/autocomplete.scss';
@use './styles/base.scss';
@use './styles/dark.scss';
@use './styles/tailwind.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-snackbar .mdc-button {
  min-width: 35px;
}
