@use './styles/autocomplete';
@use './styles/base';
@use './styles/dark';
@use './styles/tailwind';
@use './styles/dialog';
@use './styles/snack-bar';
@use './styles/mat-icon';
@use './styles/slide-toggle';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
