@use '@angular/material' as mat;

:host {
  display: block;

  .button-primary {
    @include mat.button-overrides((
      filled-container-color: var(--primary-color),
      filled-label-text-color: var(--white-color),
    ));
  }

  .button-error {
    @include mat.button-overrides((
      filled-container-color: var(--error-color),
      filled-label-text-color: var(--white-color),
    ));
  }

  .button-updating {
    @include mat.button-overrides((
      filled-container-color: var(--main-color),
      filled-label-text-color: var(--white-color),
    ));
  }
}
